<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Change Password</title>
    <link rel="stylesheet" type="text/css" media="all"
          href="/../css/main.css" th:href="@{/../css/main.css}" />
</head>
<body>
<h2></h2>
<h1>Change Password</h1>
<form action="#" th:action="@{/passwordChangeSuccess.html}" th:object="${passwordChangeForm}" method="POST">
    <table>
        <input type="hidden" th:field="*{username}" />
        <tr><td>Old Password</td>
            <td>
                <input type="password" th:field="*{oldPassword}" />
                <label th:if="${#fields.hasErrors('oldPassword')}" th:errors="${passwordChangeForm.oldPassword}" th:class="'error'"></label>
            </td>
        </tr>
        <tr><td>New Password</td>
            <td>
                <input type="password" th:field="*{newPassword}" />
                <label th:if="${#fields.hasErrors('newPassword')}" th:errors="${passwordChangeForm.newPassword}" th:class="'error'"></label>
            </td>
        </tr>
        <tr><td>Confirm New Password</td>
            <td>
                <input type="password" th:field="*{confirmNewPassword}" />
                <label th:if="${#fields.hasErrors('confirmNewPassword')}" th:errors="${passwordChangeForm.confirmNewPassword}" th:class="'error'"></label>
            </td>
        </tr>
        <tr><td colspan="2">
            <input type="submit" th:value="Submit"/>
            <input type="reset" th:value="Reset"/>
        </td>
        </tr>
    </table>
    <p><a th:href="@{/register}">Register</a></p>

</form>
</body>
</html>