<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Login</title>
    <link rel="stylesheet" type="text/css" media="all"
          href="/../css/main.css" th:href="@{/../css/main.css}" />
</head>
<body>
<h2></h2>
<h1>Login</h1>
<form action="#" th:action="j_spring_security_check" th:object="${loginForm}" method="POST">
    <table>
        <tr><td>Username</td>
            <td>
                <input type="text" th:field="*{username}" />
                <label th:if="${#fields.hasErrors('username')}" th:errors="${registerForm.username}"  th:class="'error'"></label>
            </td>
        </tr>
        <tr><td>Password</td>
            <td>
                <input type="password" th:field="*{password}" />
                <label th:if="${#fields.hasErrors('password')}" th:errors="${loginForm.password}" th:class="'error'"></label>
            </td>
        </tr>
        <tr><td colspan="2">
            <input type="submit" th:value="Submit"/>
        </td>
        </tr>
    </table>
    <p th:if="${loginError}" class="error">Wrong user or password</p>
</form>
</body>
</html>