<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Home</title>
    <link rel="stylesheet" href="/webjars/bootstrap/3.3.7/css/bootstrap.min.css" />
    <link href="../static/css/main.css" th:href="@{/css/main.css}" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"/>
</head>
<body class="bg">

<!-- Navbar -->
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" th:href="@{'/home'}">PriceBreaker</a>
        </div>
        <ul class="nav navbar-nav navbar-right">
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">MY PROFILE
                    <span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a th:href="@{'/changePassword/' + ${user.username}}">CHANGE PASSWORD</a></li>
                </ul>
            </li>
            <li><a th:href="@{'/logout'}"><span class="glyphicon glyphicon-log-out"></span> LOGOUT</a></li>
        </ul>
        <div class="nav navbar-nav navbar-right">
            <a class="navbar-brand" th:href="@{'/home'}">Home</a>
        </div>
        <div class="nav navbar-nav navbar-right">
            <a class="navbar-brand" th:href="@{'/user/products'}">My List</a>
        </div>
        <div class="nav navbar-nav navbar-right">
            <a class="navbar-brand" th:href="@{'/search'}">Search</a>
        </div>
    </div>
</nav>

<div class="container full-height">
    <div class="row form-height">
        <div class="col-sm-6 col-sm-offset-3 well offset4 form-v-middle">
            <div class="">
                <div class="text-warning">
                    <h3 class="text-center"><b>Welcome <th th:text="${user.username}"></th></b></h3>
                </div>
            </div>

            <div>
                <a th:href="@{'/search'}" class="button">
                    <i class="fa fa-search-plus"></i> <br/>Search
                </a>

                <a th:if="${user.getUserRole().getUser_role() == 'ROLE_ADMIN'}" th:href="@{'/products/all'}" class="button">
                    <i class="fa fa-list" aria-hidden="true"></i> <br/>All products
                </a>

                <a th:if="${user.getUserRole().getUser_role() == 'ROLE_USER'}" th:href="@{'/user/products'}" class="button">
                    <i class="fa fa-list" aria-hidden="true"></i> <br/>List
                </a>

                <a class="button" th:if="${user.getUserRole().getUser_role() == 'ROLE_ADMIN'}" th:href="@{'/users'}" >
                    <i class="fa fa-users" aria-hidden="true"></i> <br/>Users
                </a>
            </div>
        </div>
    </div>
</div>
<script src="/webjars/jquery/3.1.1/jquery.min.js"></script>
<script src="/webjars/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>
</html>