<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Registered</title>
    <link rel="stylesheet" type="text/css" media="all"
          href="/../css/main.css" th:href="@{/../css/main.css}" />
</head>
<body>
<h2></h2>
<h1>Register</h1>
<form action="#" th:action="@{/registerSuccess.html}" th:object="${registerForm}" method="POST">
    <table>
        <tr><td>Username</td>
            <td>
                <input type="text" th:field="*{username}" />
                <label th:if="${#fields.hasErrors('username')}" th:errors="${registerForm.username}"  th:class="'error'"></label>
            </td>
        </tr>
        <tr><td>Password</td>
            <td>
                <input type="password" th:field="*{password}" />
                <label th:if="${#fields.hasErrors('password')}" th:errors="${registerForm.password}" th:class="'error'"></label>
            </td>
        </tr>
        <tr><td>Confirm Password</td>
            <td>
                <input type="password" th:field="*{confirmPassword}" />
                <label th:if="${#fields.hasErrors('confirmPassword')}" th:errors="${registerForm.confirmPassword}" th:class="'error'"></label>
            </td>
        </tr>
        <tr><td>Email</td>
            <td>
                <input type="text" th:field="*{email}" />
                <label th:if="${#fields.hasErrors('email')}" th:errors="${registerForm.email}" th:class="'error'"></label>
            </td>
        </tr>
        <tr><td colspan="2">
            <input type="submit" th:value="Submit"/>
            <input type="reset" th:value="Reset"/>
        </td>
        </tr>
    </table>
</form>
</body>
</html>