<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Search</title>
    <link rel="stylesheet" href="/webjars/bootstrap/3.3.7/css/bootstrap.min.css" />
    <link href="../static/css/main.css" th:href="@{/css/main.css}" rel="stylesheet" />
</head>
<body class="bg">

<!-- Navbar -->
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" th:href="@{'/home'}">PriceBreaker</a>
        </div>
        <ul class="nav navbar-nav navbar-right">
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">MY PROFILE
                    <span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a th:href="@{'/changePassword/'}">CHANGE PASSWORD</a></li>
                </ul>
            </li>
            <li><a th:href="@{'/logout'}"><span class="glyphicon glyphicon-log-out"></span> LOGOUT</a></li>
        </ul>
        <div class="nav navbar-nav navbar-right">
            <a class="navbar-brand" th:href="@{'/home'}">Home</a>
        </div>
        <div class="nav navbar-nav navbar-right">
            <a class="navbar-brand" th:href="@{'/user/products'}">My List</a>
        </div>
        <div class="nav navbar-nav navbar-right">
            <a class="navbar-brand" th:href="@{'/search'}">Search</a>
        </div>
    </div>
</nav>

<div class="container full-height">
    <div class="row form-height">
        <div class="col-sm-6 col-sm-offset-3 well offset4 form-v-middle">
            <div class="">
                <div class="text-warning">
                    <h3>Search</h3>
                </div>
            </div>
            <div class="">
                <form action="#" th:action="@{/search}" th:object="${searchForm}" method="GET">
                    <div class="form-group">
                        <input type="text" th:field="*{product}" class="form-control" />
                        <label th:if="${#fields.hasErrors('product')}" th:errors="${searchForm.product}"  th:class="'error'"></label>
                    </div>
                    <button type="submit" class="btn btn-warning col-sm-12"><strong>Search</strong></button>
                </form>
            </div>
        </div>
    </div>
    <div class="col-sm-8 col-sm-offset-3 well offset4  well">
        <div class="">
            <table class="table table-bordered">
                <tr>
                    <td class="text-center"><b>Image</b></td>
                    <td class="text-center"><b>Product Name</b></td>
                    <td class="text-center"><b>Product Category</b></td>
                    <td class="text-center"><b>Price</b></td>
                    <td class="text-center"><b>Score</b></td>
                    <td class="text-center"><b>Available</b></td>
                    <td class="text-center"><b>Shop</b></td>
                    <td class="text-center"><b>Add</b></td>
                </tr>
                <tr th:each="product : ${productsList}">
                    <div >
                        <td class="text-center"><img th:src="${product.productImageUrl}" style="height:120px; width:120px;"/> </td>
                        <td th:text="${product.productName}" class="text-center" ></td>
                        <td th:text="${product.productCategory}" class="text-center" ></td>
                        <td th:text="${product.productBottom}" class="text-center"></td>
                        <td th:text="${product.productScore}" class="text-center"></td>
                        <td th:text="${product.stocks}" class="text-center"></td>

                        <td class="text-center">
                            <a class="btn btn-primary" th:href="@{{url}(url=${product.productUrl})}">Go</a>
                        </td>
                        <td class="text-center">
                            <form action="#" th:action="@{/user/products/add}" th:object="${productinfo}" method="post">
                                <input type="hidden"  th:value="${product.productName}" name="productName" id="productName"/>
                                <input type="hidden"  th:value="${product.productBottom}" name="productBottom" id="productBottom"/>
                                <input type="hidden"  th:value="${product.productScore}" name="productScore" id="productScore"/>
                                <input type="hidden"  th:value="${product.productCategory}" name="productCategory" id="productCategory"/>
                                <input type="hidden"  th:value="${product.productImageUrl}" name="productImageUrl" id="productImageUrl"/>
                                <input type="hidden"  th:value="${product.productUrl}" name="productUrl" id="productUrl"/>
                                <button type="submit" class="btn btn-primary">+</button>
                            </form>
                        </td>
                    </div>
                </tr>
            </table>
        </div>
    </div>
</div>
<script src="/webjars/jquery/3.1.1/jquery.min.js"></script>
<script src="/webjars/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>
</html>